configuration {
	modi: "window,run,drun";
	font: "JetBrainsMono Nerd Font Mono 12";
    sorting-method: "fzf";
    show-icons: true;
    matching: "fuzzy";
    timeout {
      action: "kb-cancel";
      delay:  0;
    }
    filebrowser {
      directories-first: true;
      sorting-method:    "name";
    }
}

@theme "~/.config/rofi/gruvbox.rasi"
